# .gitignore

# --- Archivos de Python y Entorno Virtual ---
venv/
parcial/  # Ignora tu entorno virtual
__pycache__/
*.pyc

# --- Archivos de Django y Base de Datos ---
db.sqlite3
/media
/static

# --- Archivos Sensibles y Configuraciones ---
.env # Archivo para guardar credenciales de Supabase
sistema_notas/settings.py